<h3>Detalles del la actividad</h3>
<div>
    <div>
        <label for=""><b>ID :</b> {{actividad.id_actividad}}</label>
    </div>
    <div>
        <label for=""><b>Descripción :</b> {{actividad.descripcion}}</label>
    </div>
    <div>
        <label for=""><b>Estado :</b> {{actividad.estado}}</label>
    </div>
    <div>
        <label for=""><b>Fecha De Finalización Estimada :</b> {{actividad.fechaEstimada}}</label>
    </div>
    <div>
        <label for=""><b>Empleado Designado:</b> {{actividad.empleadoId.nombre + ' ' + actividad.empleadoId.nombre  }}</label>
    </div>
</div>
